:root {

    /* colors */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --very-dk-blue: hsl(234, 12%, 34%);
    --gray-blue: hsl(229, 6%, 66%);
    --very-lt-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    /* components */
    --clr-main-heading: var(--very-dk-blue);
    --clr-text-primary: var(--gray-blue);

    --clr-main-bg: var(--very-lt-gray);
    --clr-card-bg: var(--white);

    --clr-card-supervisor: var(--cyan);
    --clr-card-team-builder: var(--red);
    --clr-card-karma: var(--orange);
    --clr-card-calculator: var(--blue);

    /* font size */
    --fs-400: 0.938rem;

    /* font weight */
    --fw-light: 200;
    --fw-regular: 400;
    --fw-semibold: 600;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* styling */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: var(--clr-main-bg);
    color: var(--clr-text-primary);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
}

header {
    max-width: 34rem;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1.875rem;
}

.title {
    color: var(--clr-main-heading);
    font-size: 2.25rem;
    font-weight: var(--fw-light);
    line-height: 1.3;
}

.title+span {
    color: var(--clr-main-heading);
    font-size: 2.25rem;
    font-weight: var(--fw-semibold);
}

header>p {
    margin-top: 1.063rem;
}

.card {
    /* background-color: var(--clr-card-bg); */
    background: teal;
    max-width: 21.875rem;
}

.card--supervisor {
    border-top: 0.3125rem solid var(--clr-card-supervisor);
    /* grid-area: supervisor; */
    grid-column: 1/2;
    grid-row: 1/3;
}

.card--team-builder {
    border-top: 0.3125rem solid var(--clr-card-team-builder);
    /* grid-area: team-builder; */
    grid-column: 2/3;
}

.card--karma {
    border-top: 0.3125rem solid var(--clr-card-karma);
    /* grid-area: karma; */
    grid-column: 2/3;
}

.card--calculator {
    border-top: 0.3125rem solid var(--clr-card-calculator);
    /* grid-area: calculator; */
    grid-column: 3/4;
    grid-row: 1/3;
}