:root {

    /* colors */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --very-dk-blue: hsl(234, 12%, 34%);
    --gray-blue: hsl(229, 6%, 66%);
    --very-lt-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    --very-dk-blue-alpha: hsla(217, 37%, 69%, 0.25);

    /* components */
    --clr-main-heading: var(--very-dk-blue);
    --clr-text-primary: var(--gray-blue);

    --clr-main-bg: var(--very-lt-gray);
    --clr-card-bg: var(--white);
    --clr-card-box-shadow: var(--very-dk-blue-alpha);

    --clr-card-supervisor: var(--cyan);
    --clr-card-team-builder: var(--red);
    --clr-card-karma: var(--orange);
    --clr-card-calculator: var(--blue);

    /* font size */
    --fs-400: 0.938rem;

    /* font weight */
    --fw-light: 200;
    --fw-regular: 400;
    --fw-semibold: 600;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* styling */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    /* margin: 0 1rem; */
    background-color: var(--clr-main-bg);
    color: var(--clr-text-primary);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    min-height: 100vh;

    margin: 0 2rem;
    padding: 5.5rem 0 5rem;
}

header {
    max-width: 34rem;
    text-align: center;
}

.container {
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center; */
    gap: 1.5rem;

    display: flex;
    flex-direction: column;
}

.title {
    color: var(--clr-main-heading);
    /* font-size: 2.25rem; */
    font-size: 1.5rem;
    font-weight: var(--fw-light);
    line-height: 1.3;

    font-size: clamp(1.50rem, calc(0.84rem + 2.82vw), 2.25rem);
}

.title+span {
    color: var(--clr-main-heading);
    /* font-size: 2.25rem; */
    font-size: 24px;
    font-weight: var(--fw-semibold);

    font-size: clamp(1.50rem, calc(0.84rem + 2.82vw), 2.25rem);
}

header>p {
    margin-top: 1.25rem;
}

.card {
    background-color: var(--clr-card-bg);
    border-radius: 5px;
    max-width: 21.875rem;
    /* padding: 1.5rem 2rem 2rem; */
    line-height: 1.9;
    box-shadow: 0 10px 10px var(--clr-card-box-shadow);

    padding: 1.2rem 1.75rem 1.75rem;
}

.card__title {
    color: var(--clr-main-heading);
    /* font-size: 1.25rem; */
    font-size: 1.1875rem;
    letter-spacing: 0.5px;
}

.card>p {
    /* font-size: 12px; */
    /* width: 85%; */
    /* margin: 0.25rem 0 2.5rem; */
    /* line-height: 1.9; */

    font-size: 13px;
    letter-spacing: 0.1px;
    /* margin: 0.25rem 0 2rem; */
    margin: 0 0 2rem;
    line-height: 1.7;
}

.card__icon {
    float: right;
    /* width: 58px; */
    width: clamp(3.63rem, calc(3.29rem + 1.41vw), 4.00rem);
}



/* .card--supervisor {
    border-top: 0.25rem solid var(--clr-card-supervisor);
    grid-column: 1/2;
    grid-row: 1/3;
}

.card--team-builder {
    border-top: 0.25rem solid var(--clr-card-team-builder);
    grid-column: 2/3;
}

.card--karma {
    border-top: 0.25rem solid var(--clr-card-karma);
    grid-column: 2/3;
}

.card--calculator {
    border-top: 0.25rem solid var(--clr-card-calculator);
    grid-column: 3/4;
    grid-row: 1/3;
} */

.card--supervisor {
    border-top: 0.25rem solid var(--clr-card-supervisor);
    /* grid-column: 1/2;
    grid-row: 1/3; */
}

.card--team-builder {
    border-top: 0.25rem solid var(--clr-card-team-builder);
    /* grid-column: 2/3; */
}

.card--karma {
    border-top: 0.25rem solid var(--clr-card-karma);
    /* grid-column: 2/3; */
}

.card--calculator {
    border-top: 0.25rem solid var(--clr-card-calculator);
    /* grid-column: 3/4;
    grid-row: 1/3; */
}

@media (min-width: 700px) {

    body {
        gap: 4.125rem;
        padding: 0;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;

        gap: 1.875rem;
    }

    .title {
        line-height: 1.4;
    }

    header>p {
        margin-top: 1.063rem;
    }

    /* .title {
        font-size: 2.25rem;
    }

    .title+span {
        font-size: 2.25rem;
    } */

    .card {
        /* padding: 1.5rem 1.75rem 2rem; */
        padding: 1.5rem 2rem 2rem;
    }

    .card__title {
        font-size: 1.25rem;
        letter-spacing: 0;
    }

    .card>p {
        font-size: 12px;
        width: 92%;
        margin: 0.25rem 0 2.5rem;
        letter-spacing: 0.6px;

        line-height: 1.9;
    }

    /* .card__icon {
        width: 64px;
    } */

    .card--supervisor {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .card--team-builder {
        grid-column: 2/3;
    }

    .card--karma {
        grid-column: 2/3;
    }

    .card--calculator {
        grid-column: 3/4;
        grid-row: 1/3;
    }

    /* .container {
        grid-template-columns: 1fr;
    }

    .card--supervisor {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .card--team-builder {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .card--karma {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .card--calculator {
        grid-column: 1/2;
        grid-row: 4/5;
    } */

}