:root {

    /* colors */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --very-dk-blue: hsl(234, 12%, 34%);
    --gray-blue: hsl(229, 6%, 66%);
    --very-lt-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    --very-dk-blue-alpha: hsla(217, 37%, 69%, 0.25);

    /* components */
    --clr-main-heading: var(--very-dk-blue);
    --clr-text-primary: var(--gray-blue);

    --clr-main-bg: var(--very-lt-gray);
    --clr-card-bg: var(--white);
    --clr-card-box-shadow: var(--very-dk-blue-alpha);

    --clr-card-supervisor: var(--cyan);
    --clr-card-team-builder: var(--red);
    --clr-card-karma: var(--orange);
    --clr-card-calculator: var(--blue);

    /* font size */
    --fs-200: 0.75rem;
    --fs-300: 0.813rem;
    --fs-400: 0.938rem;
    --fs-500: 1.1875rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2.25rem;

    /* font weight */
    --fw-light: 200;
    --fw-regular: 400;
    --fw-semibold: 600;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* styling */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 0 2rem;
    padding: 5.5rem 0 5rem;
    background-color: var(--clr-main-bg);
    color: var(--clr-text-primary);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    min-height: 100vh;
}

header {
    max-width: 34rem;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.title {
    color: var(--clr-main-heading);
    font-size: var(--fs-700);
    font-size: clamp(1.50rem, calc(0.84rem + 2.82vw), 2.25rem);
    font-weight: var(--fw-light);
    line-height: 1.3;
}

.title+span {
    color: var(--clr-main-heading);
    font-size: var(--fs-700);
    font-size: clamp(1.50rem, calc(0.84rem + 2.82vw), 2.25rem);
    font-weight: var(--fw-semibold);
}

header>p {
    margin-top: 1.25rem;
}

.card {
    background-color: var(--clr-card-bg);
    border-radius: 5px;
    max-width: 21.875rem;
    padding: 1.2rem 1.75rem 1.75rem;
    line-height: 1.9;
    box-shadow: 0 10px 10px var(--clr-card-box-shadow);
}

.card__title {
    color: var(--clr-main-heading);
    font-size: var(--fs-500);
    letter-spacing: 0.5px;
}

.card>p {
    font-size: var(--fs-300);
    letter-spacing: 0.1px;
    margin: 0 0 2rem;
    line-height: 1.7;
}

.card__icon {
    float: right;
    width: 3.63rem;
    width: clamp(3.63rem, calc(3.29rem + 1.41vw), 4.00rem);
}

.card--supervisor {
    border-top: 0.25rem solid var(--clr-card-supervisor);
}

.card--team-builder {
    border-top: 0.25rem solid var(--clr-card-team-builder);
}

.card--karma {
    border-top: 0.25rem solid var(--clr-card-karma);
}

.card--calculator {
    border-top: 0.25rem solid var(--clr-card-calculator);
}

@media (min-width: 700px) {

    body {
        gap: 4.125rem;
        padding: 0;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
        gap: 1.875rem;
    }

    .title {
        line-height: 1.4;
        font-size: var(--fs-800);
        font-size: clamp(1.50rem, calc(0.84rem + 2.82vw), 2.25rem);
    }

    .title+span {
        font-size: var(--fs-800);
        font-size: clamp(1.50rem, calc(0.84rem + 2.82vw), 2.25rem);
    }

    header>p {
        margin-top: 1.063rem;
    }

    .card {
        padding: 1.5rem 2rem 2rem;
    }

    .card__title {
        font-size: var(--fs-600);
        letter-spacing: 0;
    }

    .card>p {
        font-size: var(--fs-200);
        width: 92%;
        margin: 0.25rem 0 2.5rem;
        letter-spacing: 0.6px;
        line-height: 1.9;
    }

    .card__icon {
        width: 4rem;
        width: clamp(3.63rem, calc(3.29rem + 1.41vw), 4.00rem);
    }

    .card--supervisor {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .card--team-builder {
        grid-column: 2/3;
    }

    .card--karma {
        grid-column: 2/3;
    }

    .card--calculator {
        grid-column: 3/4;
        grid-row: 1/3;
    }

}